h1 {
  color: blueviolet;
  background-color: darkslateblue;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#second-heading {
  color: rgb(228, 20, 20);
  background-color: rgb(235, 103, 16);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.third-heading {
  color: darksalmon;
  background-color: salmon;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header {
  background-color: dimgray;
  color: ghostwhite;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.parent-div {
  display: flex;
  background-color: violet;
  height: 400px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.child-div {
  display: flex;
  background-color: blue;
  height: 100px;
  width: 100px;
  margin: 20px;
  text-align: center;
  border: 5px solid gold;
  border-radius: 2px;
}

.child-div img {
  max-width: 20px;
  max-height: 20px;
}
